// Auth

.auth-background {
  background: rgb(149, 247, 178);
  height: 95vh;
  margin-bottom: 80px;
  margin-top: 20px;
}

.auth-title {
  font-family: 'Avenir next';
  font-weight: 700;
  color: white;
  font-size: calc(20px + 0.8vw);
  padding-top: 8vh;
}

// Register

.register-div, .login-div {
  position: relative;
}

.register-title , .login-title {
  font-family: 'Avenir next';
  font-weight: 500;
  font-size: calc(14px + 0.6vw);
  margin-bottom: 3vh;
}

.register-label, .login-label, .course-new-label {
  font-size: calc(12px + 0.3vw);
  font-family: 'Avenir next';
  font-weight: 300;
}

.register-field, .login-field, .course-new-field {
  font-size: calc(12px + 0.3vw);
  font-family: 'Avenir next';
  font-weight: 300;
  height: 4vh;
}

.register-dropbox select {
  font-size: calc(12px + 0.3vw);
  font-family: 'Avenir next';
  font-weight: 300;
  height: 4vh;
  border-color: rgba(66, 66, 66, .2);
  box-shadow: inset 0 0 3px rgba(66, 66, 66, .2);
  background: transparent;
  width: 100%;
}

.register-bottom-text {
  font-size: calc(10px + 0.2vw);
  font-family: 'Avenir next';
  font-weight: 300;
  position: absolute;
  right: 17%;
  bottom: 10%;
}

.register-show-hide {
  position: absolute;
  top: 60%;
  right: 17%;
  font-size: calc(10px + 0.2vw);
  font-family: 'Avenir next';
  font-weight: 300;
  height: 2vh;
}

.register-submit, .login-submit {
  font-size: calc(8px + 0.3vw);
  font-family: 'Avenir next';
  font-weight: 600;
  height: 3vh;
  margin-bottom: 10px;
  padding-top: calc(0.375em - 3px);
}

// Login

.login-show-hide {
  position: absolute;
  top: 56%;
  right: 0;
  font-size: calc(10px + 0.2vw);
  font-family: 'Avenir next';
  font-weight: 300;
  height: 2vh;
}

.login-bottom-text {
  font-size: calc(10px + 0.2vw);
  font-family: 'Avenir next';
  font-weight: 300;
  position: absolute;
  right: 0%;
  bottom: 5%;
}
