.app-body {
  position: relative;
}


// modal
.background-overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(66, 66, 66, .5);
  position: fixed;
  z-index: 10;
}

.modal1 {
  height: 500px;
  width: 600px;
  background: white;
  position: fixed;
  z-index: 11;
  top: 50%;
  transform: translateY(-50%) translateX(-52%);
  left: 50%;
  border-radius: 10px;
  padding: 20px;
}
