// Templates

// Page Show

.page-show {
  height: 100%;
}
// Templates Index

.templates-index {
  background: rgb(149, 247, 178);
  padding: 80px 10px;
  height: auto;
  min-height: 100vh;
}

.template-title {
  font-family: 'Avenir next';
  font-weight: 700;
  color: white;
  font-size: calc(20px + 0.8vw);
}

.templates-index .column {
  padding: 10px;
}

.templates-index .column img {
  transition: transform .2s cubic-bezier(0.51, 0.01, 0.37, 1.8);
}

.templates-index .column img:hover {
  transform: scale(1.06)
}



// templates edit

.template-label {
  font-size: calc(12px + 0.3vw);
  font-family: 'Avenir next';
  font-weight: 300;
  margin-top: 15px;
}

.template-field {
  font-size: calc(12px + 0.3vw);
  font-family: 'Avenir next';
  font-weight: 300;
  height: 5vh;
}

.template-edit-buttons {
  position: fixed;
  bottom: 0;
  left: 0;
  background: white;
  box-shadow: 0 -2px 2px rgba(180, 180, 180, .5);
  width: 100vw;
  height: 58px;
  padding: 0 0 0 10px;
}

.template-edit-buttons button, .template-edit-buttons a {
  font-family: 'Avenir next';
  font-weight: 500;
  color: white;
  background: rgb(181, 211, 255);
}

.template-edit-buttons button {
  margin-right: 10px;
}

.slideFromLeft {
    animation: slideFromLeft ease-out;
}

@keyframes slideFromLeft {
    0% {
        opacity: 0;
        transform: translateX(1500px);
    }

    50% {
        opacity: 1;
        transform: translateX(0);
    }
}

.template-form form {
  margin-top: 70px;
}


.template-form {
  padding: 50px 10px 0 10px;
  position: fixed;
  height: 94vh;
  width: 25%;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 0 5px 10px rgba(66, 66, 66, .5);
}

.text-body-field {
  width: 100%;
  height: 300px;
  padding: 10px;
  margin-top: 10px;
  font-size: calc(8px + 0.6vw);
  color: rgb(90, 90, 90);
  font-family: 'Avenir next';
  font-weight: 300;
  border-radius: 4px;
  border-color: rgb(180, 180, 180);
}


// Template 1

.t1-section {
  margin: auto;
  width: 100%;
  background: white;
  height: 100%;
  padding-top: 70px;
  max-width: 1000px;
  min-height: 100%;

}

.t1-img-container {
  margin: 20px auto;
  height: 50%;
  width: 80%
}

.t1-img {
  max-height: 100%;
  max-width: 100%;
}

.t1-img-placeholder {
  height: 100%;
  width: 100%;
  border-radius: 4px;
}

.t1-text-container {
  margin: 0 auto;
  width: 80%;
  height: 35%;
}

.t1-title-container {
  height: 25%;
  margin-bottom: -10px;
}

.t1-img-placeholder, .t1-title-placeholder, .t1-text-placeholder {
  background: rgb(149, 247, 178);
}

.t1-title-placeholder {
  height: 30px;
  width: 30%;
  border-radius: 20px;
  transform: translate(-3px, 2px)
}

.t1-text-placeholder {
  height: 20px;
  width: 100%;
  margin: 10px auto;
  border-radius: 10px;
  transform: translate(-3px, -7px)
}

.template-content-container {
  height: 100%;
}

.template-buttons a {
  font-family: 'Avenir next';
  font-weight: 500;
  color: black;
  background: rgb(149, 247, 178);
}

.template-buttons .prev {
  transform: translateX(10px);
}

.template-buttons .skip {
  transform: translateX(-10px);
}
// Template 2

.t2-section {
  margin: auto;
  width: 100%;
  background: white;
  height: 100%;
  padding-top: 70px;
  max-width: 1000px;
  min-height: 100%;
  padding-bottom: 47px;
}

.text-body-field2 {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-top: 10px;
  font-size: calc(8px + 0.6vw);
  color: rgb(90, 90, 90);
  font-family: 'Avenir next';
  font-weight: 300;
  border-radius: 4px;
  border-color: rgb(180, 180, 180);
}

.t2-container {
  height: 99%;
}

.t2-img-container {
  margin: auto;
  height: 60%;
  width: 80%;
  position: relative;
}

.t2-img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 55%;
  left: 0;
}

.t2-img-placeholder {
  height: 100%;
  width: 100%;
  border-radius: 4px;
  position: absolute;
  top: 40%;
}

.t2-img-placeholder, .t2-text-placeholder {
  background: rgb(149, 247, 178);
}

.t2-text-container {

  height: 100%;
  padding: 30px 50px;
  margin: auto;

}

.t2-text-container .t2-text {
  margin: 20px 0;
}

.t2-text p {
  text-indent: 2em;
}

// Template 3

.t3-section {
  margin: auto;
  width: 100%;
  background: white;
  height: 100%;
  padding-top: 70px;
  max-width: 999px;
  min-height: 100%;
  padding-bottom: -47px;
}



.t3-video-placeholder {
  background: rgb(149, 247, 178);
  border-radius: 4px;
}
//
.t3-video-container {
  box-sizing: border-box;
  padding: 30px 30px 105px 30px;
  width: 80%;
  margin: auto;

}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe, .t3-video-placeholder {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

// Template 4

.t4-title-placeholder {
  background: rgb(149, 247, 178);
  height: 35px;
  width: 40%;
  border-radius: 20px;
  transform: translate(-3px, 2px);
  margin: auto;
}

.t4-title-container {
  height: 50px;
  margin-bottom: 10px;
}

.t4-text-placeholder {
  background: rgb(149, 247, 178);
  height: 20px;
  width: 100%;
  margin: 10px auto;
  border-radius: 10px;
}

.answers-container.columns {
  height: 200px;
  width: 80%;
  margin: 25px auto 0 auto;
}

.t4-text-container {
  margin: 0 auto;
  width: 80%;
  height: 45%;
}

.t4-container {
  width: 100%;
  height: 99%;
}

.t4-answer-box {
  width: 90%;
  margin: auto;
  height: 80px;
  border-radius: 4px;
  border: rgb(149, 247, 178) solid 4px;
  box-shadow: 0 0 2px grey;
}

.t4-answer-box p {
  margin-top: 8px;
}

.t4-answer-box img {
  transform: translate(170px,-30px);
  width: 50px;
  height: 50px;
}
